* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body {
    font-family: 'Open Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Work Sans', sans-serif;
}

.header-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #FFF;
    box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
    padding: 14px 0px;

}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-img img {
    width: 45px;
}

.logo-text {
    padding-left: 10px;
    font-size: 20px;
}

.color-g {
    color: #FF42A5
}

/* .nav {} */

.nav ul {
    list-style-type: none;
    display: flex;
    align-items: center;
}

.nav ul li {
    padding: 0 15px;
}

.nav ul li a {
    text-decoration: none;
}

.menu-btn {
    border: none;
    padding: 5px 10px;
    font-size: 13px;
    border-radius: 5px;
    background-color: rgba(11, 2, 35, 0.10);
}

i.fa-brands.fa-youtube {
    color: red;
    padding: 0px 5px;
}


.menu-btn:hover {
    cursor: pointer;
}

/* banner section start  */
.banner-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.banner-content {
    margin-left: 60px;
}

.banner-content h3 {
    color: #0B0223;
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.banner-content h1 {
    font-size: 50px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

.banner-content p {
    color: #534C64;
    font-weight: 500;
    line-height: 25px;
    text-transform: lowercase;
}

.sign-in {
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #FF42A5;
    border: none;
    padding: 10px 22px;
    margin: 15px 20px 0 0;
    border-radius: 50px;
}

.sign-in:hover {
    cursor: pointer;
}

.rogue:hover {
    cursor: pointer;
}

.rogue {
    color: #FFF;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    background-color: #4EC5F7;
    border: none;
    padding: 10px 22px;
    margin: 15px 20px 0 0;
    border-radius: 50px;
}


.banner-images img {
    width: 85%;
    height: 85vh;
}

/* online game section start  */

.online-game-title h1 {
    color: #0B0223;
    font-size: 35px;
    font-weight: 700;
    text-align: center;
    margin-top: 60px;
}

.online-game-title p {

    color: #534C64;
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    margin: 15px 0 45px 0;
}

.funny {


    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.card-container {
    display: flex;
    margin: auto;
    width: 80%;
    gap: 15px;
    position: relative;
}

.single-card {
    position: relative;
}

.single-card img {
    width: 100%;
    padding: 10px;
}

.single-card p {
    margin-left: 10px;
}


.watch-now {
    position: absolute;
    top: 58%;
    left: 48%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.single-card:hover .watch-now {
    opacity: 1;
    color: #FF42A5;
    cursor: pointer;
    font-weight: 600;
}


.hover-icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: opacity 0.3s;
}

.single-card:hover img {

    filter: grayscale(80%);
}

.single-card:hover .hover-icon {
    opacity: 1;
    color: white;

}

i.fa-regular.fa-circle-play {
    font-size: 35px;
    cursor: pointer;

}

/* play instantly section start */
.color-play-instantly {
    font-size: 35px;
    font-weight: 800;
    text-transform: uppercase;
    background: linear-gradient(180deg, #F948B2 0%, #8758F1 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-bottom: 15px;
}

.play-instantly-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    gap: 50px;
}

.play-content {
    width: 50%;
    padding: 10px 85px 0 0;
    text-align: right;
    position: relative;
}

.play-content h1 {
    font-size: 35px;
}

.play-content p {
    color: #534C64;
    font-size: 17px;
    font-weight: 400;
    margin-top: 15px;
}

.play-image {
    margin-top: 70px;
    width: 38%;
    padding: 15px;
}

.play-image img {
    width: 100%;
}

.over-image {
    position: relative;
    width: 180px;
    margin: 0;
    bottom: 155px;
    right: 75px;
}

/* catagory design start  */
.catagory-section {
    background-color: #FFF9FC;
}



.five-catagory-container {
    width: 80%;
    padding: 100px 0;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
}

.catagory-1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 50px;
    background-color: white;
    border-radius: 55px;
    padding: 10px;
    margin-bottom: 30px;
}

.catagory-1:hover {
    cursor: pointer;
    border: 1px solid #FF42A5;
    color: #FF42A5;
    margin-right: 0;
    width: 201px
}


.circle-pic img {
    width: 70%;
    padding-top: 4px;
}

.circle-title h3 {
    font-size: 14px;
    margin-right: 23px;
}
/* catagory design end  */

/* footer section start  */
.main-footer{
    background-color:#0B0223;
}

.footer-container{
width: 50%;
margin: auto;
text-align: center;
}
.footer-logo{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 30px 0;
}
/* .footer-logo-img{
    
} */
.footer-logo-img img{
    width: 60%;
    padding-top: 5px;
}
.footer-logo-text-color{
color: white;
font-size: 20px;
}
.more-link > div:hover{
    cursor: pointer;
    color: #FF42A5;
}
.more-link{
    font-size: 13px;
    padding-bottom: 40px;
    color: white;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}
/* social icon  */
.social-icon-container{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    width: 45%;
    margin: auto;
    font-size: 18px;
}
.social-icon-container:hover{
    cursor: pointer;
}
.single-icon{
    color: white;
    margin-bottom: 25px
}
.single-icon:hover{
color: #FF42A5;
}

.terms-condition{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    width: 84%;
    margin: auto;
}
.terms-condition > div {
    color: rgba(255, 255, 255, 0.60);
    font-size: 10px;
    padding-bottom: 20px;
}
.copyright p{
    font-size: 9px;
    color: rgba(255, 255, 255, 0.60);
    padding-bottom: 40px;
}



/* footer section end  */




/* responsive area */

/* for mibile device  */
@media screen and (max-width:576px) {

    /* header section  */
    .header-container {
        flex-direction: column;
        box-shadow: none;

    }

    .logo-container {
        margin-bottom: 15px;
    }

    .nav ul {
        flex-direction: column;
    }

    .nav ul li {
        padding: 8px;
    }

    .menu-btn {
        margin-top: 15px;
    }

    /* banner section  */

    .banner-container {
        flex-direction: column-reverse;
    }

    .banner-images img {
        width: 100%;
        height: 100vh;
        margin-top: 20px;
        margin-bottom: 50px;
    }

    .banner-content h3 {

        font-size: 25px;
        margin-bottom: 10px;
    }

    /* online game title  */
    .online-game-title p {
        font-size: 14px;
    }

    .card-container {
        flex-direction: column;
    }

    /* play instantly section  */
    .over-image {
        position: relative;
        width: 120px;
        bottom: 100px;
        right: 75px;
    }

    .play-image {
        width: 80%;
        margin-left: 60px
    }

    .play-instantly-container {
        gap: 0;
        flex-direction: column;
    }

    .play-content {
        width: 100%;
        padding: 0;
        text-align: center;
        margin-top: 60px;
    }
/* catagory sectoion start  */
.five-catagory-container {
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
}
.catagory-section {
    background-color: white;
}
.catagory-1{
    width: 100%;
    height: 35px;
}
.catagory-1:hover {
    cursor: pointer;
    border: 1px solid #FF42A5;
    color: #FF42A5;
    margin-right: 0;
    width: 100%
}
.circle-pic img {
    width: 70%;
    padding-top: 4px

}
.circle-title h3 {
   
    font-weight: 700;
}

/* footer start  */
.more-link > div{
    padding: 3px 0;
}
.more-link {
    font-size: 12px;
    grid-template-columns: repeat(3, 1fr);
}
.social-icon-container {
    grid-template-columns: repeat(3, 1fr);
    width: 65%;
    font-size: 18px;
}
.single-icon {
    margin-bottom: 20px
}
.terms-condition {
  
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
  
}










}











/* responsive for medium/tablet device  */

@media only screen and (min-width:576px) and (max-width:992px) {

    /* banner section  */
    .banner-content {
        margin-top: 50px;
    }

    /* play instant section  */
    .play-instantly-container {
        flex-direction: column;
        gap: 0;
    }

    .play-content {
        width: 100%;
        padding: 0;
        text-align: center;
        margin-top: 50px;
    }

    .play-image {
        width: 65%;
    }

    .over-image {
        bottom: 135px;
    }

/* catagory section start  */
.five-catagory-container {
    width: 100%;
    padding: 0;
    grid-template-columns: repeat(3, 1fr);
}
.catagory-section {
    background-color: white;
}
.catagory-1{
    width: 100%;
    height: 50px;
}
.catagory-1:hover {
    cursor: pointer;
    border: 1px solid #FF42A5;
    color: #FF42A5;
    margin-right: 0;
    width: 100%
    h
}
.circle-pic img {
    width: 70%;
    padding-top: 4px

}
.circle-title h3 {
    
    font-weight: 700;
}
/* footer start  */
.more-link {
    grid-template-columns: repeat(3, 1fr);
}

.more-link > div{
    padding: 5px 0;
}
.social-icon-container{
    width: 60%;
}









}